.App {
  text-align: center;
}

.App {
  /* background: linear-gradient(90deg, rgba(28,0,10,1) 0%, rgba(63,0,255,1) 16%, rgba(54,4,88,1) 88%, rgba(0,0,0,1) 100%); */
  /* background-color: #d9d0d1; */
  background-color: #d2ccbf;
  background-image: url('./components/assets/wallpaper_full.jpg');
}

@media (max-width: 998px) {
  .App {
    background-image: url('./components/assets/wallpape-medium.jpg');
  }
  /* html {
    background-image: url('./components/assets/wallpape-medium.jpg')
  } */
  html {
    background-color: white;
  }
}

@media (max-width: 280px) {
  .App {
    background-image: url('./components/assets/wallpaper_small.jpg');
  }
  
}

html {
  /* background: linear-gradient(90deg, rgba(28,0,10,1) 0%, rgba(63,0,255,1) 16%, rgba(54,4,88,1) 88%, rgba(0,0,0,1) 100%); */
  /* background-color: #292929; */
  /* background-color: #d2ccbf; */
  /* background-image: url('./components/assets/books1.jpeg'); */
  background-image: url('./components/assets/wallpaper_full.jpg')
}

.App-logo {
  /* animation: spin 20s alternate-reverse infinite; */
  border-radius: 360px;
  height: 8rem;
  margin-left: 10px;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    /* animation: App-logo-spin infinite 1s linear; */
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  background: linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(70,70,70,1) 69%, rgba(107,108,108,1) 100%);
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}



.Auth-form-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 90vh;
  
}

.Auth-form {
  width: 470px;
  box-shadow: rgb(0 0 0 / 16%) 1px 1px 10px;
  padding-top: 30px;
  padding-bottom: 20px;
  border-radius: 30px;
  /* background: linear-gradient(90deg, rgba(57,0,56,1) 0%, rgba(26,0,85,1) 100%); */
  background-color: #83563e;  
  font-size: 20px;
}

.Auth-form-content {
  padding-left: 12%;
  padding-right: 12%;
}

.Auth-form-title {
  text-align: center;
  margin-bottom: 1em;
  font-size: 24px;
  color: rgb(255, 255, 255);
  font-weight: 800;
}

label {
  font-size: 14px;
  font-weight: 600;
  color: rgb(255, 255, 255);
}

.buttons {
  cursor: pointer;
  transition: 100ms;
}

.buttons:hover{
  border-color: black;
  font-size:20px;
}

