apng==0.3.4
appdirs==1.4.4
apturl==0.5.2
argcomplete==1.8.1
asgiref==3.6.0
attrs==21.2.0
bcrypt==3.2.0
beautifulsoup4==4.7.1
beniget==0.4.1
binwalk==2.3.3
blinker==1.4
Brlapi==0.8.3
Brotli==1.0.9
cachelib==0.10.1
cachetools==5.2.1
certifi==2020.6.20
cffi==1.15.1
chardet==3.0.4
charset-normalizer==2.1.1
click==8.0.3
colorama==0.4.4
command-not-found==0.3
contextlib2==21.6.0
cryptography==3.4.8
cssselect==1.2.0
cupshelpers==1.0
cycler==0.11.0
dbus-python==1.2.18
decorator==4.4.2
defer==1.0.6
Deprecated==1.2.13
distro==1.7.0
distro-info===1.1build1
Django==4.1.7
django-cors-headers==3.14.0
djangorestframework==3.14.0
docopt==0.6.2
docx==0.2.4
duplicity==0.8.21
emoji==2.2.0
et-xmlfile==1.1.0
ExifRead==3.0.0
EZGmail==2022.10.10
EZSheets==2022.10.10
fasteners==0.14.1
fonttools==4.29.1
fs==2.4.12
future==0.18.2
gast==0.5.2
google-api-core==2.11.0
google-api-python-client==2.73.0
google-auth==2.16.0
google-auth-httplib2==0.1.0
google-auth-oauthlib==0.8.0
googleapis-common-protos==1.58.0
gyp==0.1
howdoi==2.0.20
html5lib==1.1
httplib2==0.20.2
idna==2.8
IMAPClient @ git+https://github.com/mjs/imapclient.git@d0f5c4e927ddda1972066ef04242a09d2dc2a666
importlib-metadata==4.6.4
inputimeout==1.0.4
intervaltree==3.1.0
jdcal==1.4.1
jeepney==0.7.1
kazam==1.4.5
keep==2.10.1
keyring==23.5.0
kiwisolver==1.3.2
language-selector==0.1
launchpadlib==1.10.16
lazr.restfulclient==0.14.4
lazr.uri==1.0.6
lockfile==0.12.2
louis==3.20.0
lxml==4.8.0
lz4==3.1.3+dfsg
macaroonbakery==1.3.1
Mako==1.1.3
markdown-it-py==2.1.0
MarkupSafe==2.0.1
matplotlib==3.5.1
mdurl==0.1.2
monotonic==1.6
more-itertools==8.10.0
MouseInfo==0.1.3
mpmath==0.0.0
netifaces==0.11.0
numpy==1.23.4
oauth2client==4.1.3
oauthlib==3.2.0
olefile==0.46
openpyxl==2.6.1
packaging==21.3
paramiko==2.9.3
pexpect==4.8.0
Pillow==9.2.0
ply==3.11
prettytable==3.5.0
protobuf==4.21.12
ptyprocess==0.7.0
pyasn1==0.4.8
pyasn1-modules==0.2.8
PyAutoGUI==0.9.53
pycairo==1.20.1
pycparser==2.21
pycups==2.0.1
PyGetWindow==0.0.9
PyGithub==1.57
Pygments==2.11.2
PyGObject==3.42.1
PyInputPlus==0.2.12
PyJWT==2.6.0
pymacaroons==0.13.0
PyMsgBox==1.0.9
PyNaCl==1.5.0
PyOpenGL==3.1.5
pyparsing==2.4.7
PyPDF2==1.26.0
pyperclip==1.8.2
pypng==0.20220715.0
PyQt5==5.15.6
PyQt5-sip==12.9.1
pyqtgraph==0.12.4
pyquery==2.0.0
PyRect==0.2.0
pyRFC3339==1.1
PyScreeze==0.1.28
PySide6==6.4.2
PySide6-Addons==6.4.2
PySide6-Essentials==6.4.2
PySimpleValidate==0.2.12
pyTelegramBotAPI==4.8.0
python-apt==2.4.0
python-dateutil==2.8.1
python-debian===0.1.43ubuntu1
python-docx==0.8.11
python-dotenv==0.21.0
python-magic==0.4.27
python-xlib==0.29
python-xmp-toolkit==2.0.1
python3-xlib==0.15
pythonanywhere==0.11.0
pythran==0.10.0
pytweening==1.0.4
pytz==2022.1
pyxdg==0.27
PyYAML==5.4.1
reportlab==3.6.8
requests==2.21.0
requests-oauthlib==1.3.1
rich==13.2.0
rsa==4.9
schema==0.7.5
scipy==1.8.0
sdkmanager==0.5.1
SecretStorage==3.3.1
selenium==3.141.0
Send2Trash==1.5.0
shiboken6==6.4.2
six==1.16.0
sortedcontainers==2.4.0
soupsieve==2.3.1
sqlparse==0.4.3
ssh-import-id==5.11
stdiomask==0.0.6
stegoveritas==1.9
stegoveritas-binwalk==2.1.2
stegoveritas-pfp==0.2.3
stegoveritas-py010parser==0.1.10
sympy==1.9
systemd-python==234
tabulate==0.9.0
telebot==0.0.4
terminaltables==3.1.10
twilio==7.16.2
typer==0.7.0
ubuntu-advantage-tools==27.12
ubuntu-drivers-common==0.0.0
ufoLib2==0.13.1
ufw==0.36.1
unattended-upgrades==0.1
unicodedata2==14.0.0
uritemplate==4.1.1
urllib3==1.24.3
usb-creator==0.3.7
wadllib==1.3.6
wcwidth==0.2.5
webencodings==0.5.1
wikipedia==1.4.0
wrapt==1.14.1
xdg==5
xkit==0.0.0
zipp==1.0.0
zombiedice==0.1.6
