.app {
  background: linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(70,70,70,1) 69%, rgba(107,108,108,1) 100%);
}

.heading1 {
  color:rgb(0, 0, 0);
  font-family: monospace;
  font-style: courier;
}

.links {
  padding: 10px;
  color: white;
  font-family: monospace;
  font: courier;
}

.links:hover {  
  color: rgb(255, 255, 255);
  transition: 0.1s;
  font-size: 15px;
}

body {
  background: linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(70,70,70,1) 59%, rgba(161,162,162,1) 87%, rgba(201,201,201,1) 100%);
  margin: 0;
  padding: 0;
}

.image {
  padding:10px;
  border-radius: 300px;
  width: 75px;
  cursor: pointer;
}

.profileIcon {
  /* position: absolute; */
  font-size: 30px;
  padding: 10px;
}